/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, Inter-Variable), sans-serif;
  font-weight: var(--text-font-weight, 410);
  /* по заданию background должен состоять из сложных градиентов,
     быть fixed, иметь размер cover */
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-size: 18px;
  line-height: 21px;
  padding: 0 0 100px;
}

@supports(font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--text-font-weight, 410);
  }
}

/* стили блока header */

.header {
  margin: 100px auto 98px;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  inline-size: var(--block-width);
  color: var(--color, #000);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--color, #000);
  font-family: var(--accent-font-family, PressStart2P), monospace;
  font-weight: var(--accent-font-weight, 400);
  text-align: center;
}

.header__header {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  font-weight: inherit;
  text-transform: uppercase;
}

.header__sub-header {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  line-height: 1;
  font-weight: inherit;
  padding-top: 20px;
}

/* стили блока main */

.cards {
  display: grid;
  gap: 50px;
  margin: 0 auto;
  inline-size: var(--block-width);
  color: var(--color, #000);
  font-family: var(--main-font-family, Inter-Variable), sans-serif;
}

.cards__list {
  display: grid;
  gap: 50px;
}

/* содержимое карточки */

.card {
  display: grid;
  border: 2px solid var(--color, #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  font-weight: var(--header-font-weight, 715);
  font-size: 18px;
  line-height: 1.2;
  padding: 4px 10px;
}

@supports(font-variation-settings: normal) {
  .card__title {
    font-variation-settings: "wght" var(--header-font-weight, 715);
  }
}

.card__image {
  position: relative;
  border-top: 2px solid var(--color, #000);
  border-bottom: 2px solid var(--color, #000);
  line-height: 0;
}

.card__image picture, .card__image img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.card__label {
  position: absolute;
  font-family: var(--accent-font-family, PressStart2P), monospace;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  top: 25px;
  right: 25px;
  color: var(--label-color);
  mix-blend-mode: hard-light;
  text-shadow: 1px var(--label-stroke-color);
}

@supports (text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__text {
  margin: 25px 25px 0;
}

.card__like {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  margin: 25px;
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-sepia {
  filter: sepia(40%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-hue-rotate {
  filter: hue-rotate(60deg);
}

.filter-invert {
  filter: invert(0.2);
}

.filter-opacity {
  filter: opacity(0.9);
}

.filter-brightness-hue-rotate-opacity {
  filter: brightness(120%) hue-rotate(10deg) opacity(0.95);
}

/* кнопки Like */

.button {
  position: relative;
  border: 2px solid var(--color, #000);
  transition: box-shadow 0.3s;
  color: var(--bg-color, #fff);
  background: var(--bg-color, #fff);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--color, #000);
}

.button::before {
  content: '';
  background: var(--color, #000);
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  display: grid;
  justify-content: center;
  align-content: center;
  inline-size: 38px;
  block-size: 38px;
  margin-inline-end: 7px;
  padding: 1px 3px;
  background: transparent;
  border: 2px solid transparent;
  line-height: 0;
  transition: border 0.3s;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color, #000);
}

.like-icon.is-liked .heart {
  animation: 0.1s ease-in 0.3s;
  animation-name: scale_up;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s;
  animation-name: fade_in;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--contour-color);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--animation-fill-color);
}

.card__like-button {
  width: 130px;
  justify-self: end;
}

.button__text {
  position: relative;
  font-family: var(--accent-font-family, PressStart2P), monospace;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0;
  mix-blend-mode: difference;
}

/* кнопка сохранения */

.button__save {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 8px;
  padding: 15px 20px;
  justify-self: center;
  background-color: var(--bg-color, #fff);
  block-size: auto;
}

.button__save svg {
  fill: var(--bg-color, #fff);
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog__save {
  display: none;
  inline-size: 353px;
  padding: 30px;
  font-family: var(--accent-font-family, PressStart2P), monospace;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  grid-template-areas:
    "floppy text"
    "form form";
}

.dialog__save[open] {
  display: grid;
}

.dialog__save svg {
  fill: var(--color, #000);
  inline-size: 39px;
  block-size: 39px;
  margin: 12px 20px 12px 0;
  grid-area: floppy;
}

.dialog__save p {
  grid-area: text;
}

.dialog__save form {
  inline-size: 100%;
  grid-area: form;
}

.dialog__save button {
  inline-size: 100%;
  margin-block-start: 30px;
  padding: 9px 17px;
}

dialog::backdrop {
  background-color: rgb(from var(--color, #000) r g b / 0.75);
} 

@media (width <= 375px) {
  .header {
    margin: 100px auto;
  }

  .button__save {
    grid-auto-flow: row;
  }

  .button__save svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__save {
    padding: 30px 40px;
  }
}
