/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {

--main-font-family: Inter-Variable;
--accent-font-family: PressStart2P;
--accent-font-weight: 400;
--color: #000;
--bg-color: #fff;
--label-color: rgba(0, 0, 0, 0.5);
--label-stroke-color: rgba(255, 255, 255, 0.5);
--header-font-weight: 715;
--text-font-weight: 410;
--background-image: repeating-linear-gradient(to right, #d3d3d3, rgb(211 211 211 / 0) 2px),
                    repeating-linear-gradient(#d3d3d3, rgb(211 211 211 / 0) 2px), /* сделана замена transparent на цвет для Safari и iOS*/
                    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
--block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
--contour-color: #000;
--animation-fill-color: red;
}
